
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Outfit", Arial, Helvetica, sans-serif;
  }
  html {
    scroll-behavior: smooth;
    scroll-behavior: cubic-bezier(0.77, 0, 0.175, 1); /* Adjust the values as needed for the desired smoothness */
  }
  